In [7]:
import pandas as pd
import numpy as np
# import sklearn 
heart_disease=pd.read_csv("heart-disease.csv")

In [8]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
x=heart_disease.drop("target", axis=1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [10]:
y=heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [13]:
x_test.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3

In [14]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

# coverting data in to numeric form

In [15]:
car_sales=pd.read_csv("car-sales.csv")

In [16]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [17]:
x=car_sales.drop("Price", axis=1)
y=car_sales["Price"]
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2)

In [18]:
# from  sklearn.ensemble import RandomForestRegressor # for tables having alphabatic data
# model=RandomForestRegressor()
# model.fit(x_train, y_train)
# model.score(x_test, y_test)

In [19]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

# now we take all the non_numeric data and convert it in to numeric data

In [20]:
from sklearn.preprocessing import OneHotEncoder #   to place 1 and 0

from sklearn.compose import ColumnTransformer # to convert columns in to rows

categorical_features=["Make", "Colour", "Doors"] # take doors in categorical features because of its grouping

one_hot=OneHotEncoder()  # making oject of OneHotEncoder class

transformer= ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")
# we wants to perform "one_hot" function on the "categorical features", and the remains will be "pass through"

transformed_x=transformer.fit_transform(x) # fit the x table in transformer variable
transformed_x

# Summry:
#     hey "ColumnTransformer" take the "OneHotEncoder" and apply it on the "categorical_features" and for the remaining features just pass them

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [21]:
#put the above garbage table in to data frame
pd.DataFrame(transformed_x)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

# same work using dummies methord

In [22]:
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [23]:
dummies=pd.get_dummies(car_sales[["Make", "Colour"]]) # we must pass 2D array 
dummies

,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,0,1,0,0,0,0,0,0,1
1,1,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,1
4,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,1,0,0,0,0
996,0,0,1,0,0,0,0,0,1
997,0,0,1,0,0,1,0,0,0
998,0,1,0,0,0,0,0,0,1
999,0,0,0,1,0,1,0,0,0

# now we will fit the model

In [49]:
from  sklearn.ensemble import RandomForestRegressor # for tables having alphabatic data
model=RandomForestRegressor()
x_train, y_train, x_test, y_test=train_test_split(transformed_x, y, test_size=0.2)
model.fit(transformed_x, y);

ValueError: Found input variables with inconsistent numbers of samples: [1000, 506]

In [25]:
model.score(x_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [200, 800]

# Handling Missing Values

## handling missing values using Pnadas

In [47]:
car_sales_missing = pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [48]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

### fill the missing data

In [27]:
car_sales_missing["Make"].fillna("missing", inplace=True)
car_sales_missing["Colour"].fillna("missing", inplace=True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Price"].mean(), inplace=True)
car_sales_missing["Doors"].fillna(4, inplace=True)
car_sales_missing.isna().sum()

NameError: name 'car_sales_missing' is not defined

#### remaining empty rows will be removed

In [28]:
car_sales_missing.dropna(inplace=True)

NameError: name 'car_sales_missing' is not defined

In [29]:
car_sales_missing.isna().sum()

NameError: name 'car_sales_missing' is not defined

In [30]:
len(car_sales_missing)

NameError: name 'car_sales_missing' is not defined

In [31]:
x=car_sales_missing.drop("Price", axis="columns")
y=car_sales_missing["Price"]

NameError: name 'car_sales_missing' is not defined

In [32]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot=OneHotEncoder()
cetagorical_features=["Make", "Colour", "Doors"]

transformer=ColumnTransformer([("one_hot", one_hot, cetagorical_febbatures)], remainder="passthrough")

transformed_x=transformer.fit_transform(car_sales_missing)
transformed_x

NameError: name 'cetagorical_febbatures' is not defined

# Handling missing data values using Sckit Learn

In [33]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [34]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [35]:
# drop the complete rows which have the empty price 
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [36]:
x=car_sales_missing.drop("Price", axis="columns")
y=car_sales_missing["Price"]

In [37]:
# from sklearn.impute import SimpleImputer 
# from sklearn.compose import ColumnTransformer

# cat_imputer=SimpleImputer(strategy="constant", fill_value="missing")
# door_imputer=SimpleImputer(strategy="constant", fill_value=4)
# odo_imputer=SimpleImputer(strategy="mean")

# cat_features=["Make", "Colour"]
# door_features=["Doors"]
# odo_features=["Odometer (KM)"]

# imputer=ColumnTransformer([("cat_imputer", cat_imputer, cat_features),
#                           ("door_imputer", door_imputer, door_features),
#                           ("odo_imputers", odo_imputer, odo_features)])

# transformed_x=imputer.fit_transform(x)
# transformed_x

In [38]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer=SimpleImputer(strategy="constant", fill_value="missing")
door_imputer=SimpleImputer(strategy="constant", fill_value=4)
odo_imputer=SimpleImputer(strategy="mean")

cat_features=["Make", "Colour"]
door_features=["Doors"]
odo_features=["Odometer (KM)"]

imputer=ColumnTransformer([("cat_imputer", cat_imputer, cat_features),
                           ("door_imputer", door_imputer, door_features),
                          ("odo_imputer", odo_imputer, odo_features)])

filled_x=imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [39]:
# tranforme above lists in a table
car_sales_filled=pd.DataFrame(transformed_x, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
car_sales.head()

ValueError: Shape of passed values is (1000, 13), indices imply (1000, 4)

In [40]:
car_sales_filled.isna().sum()

NameError: name 'car_sales_filled' is not defined

In [41]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot=OneHotEncoder()
categorical_features=["Make", "Colour", "Doors"]
transformer=ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_x=transformer.fit_transform(car_sales_filled)
transformed_x

NameError: name 'car_sales_filled' is not defined

In [42]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test=train_test_split(transformed_x, y, test_size=0.2)
reg=RandomForestRegressor()
result=reg.fit(x_train, y_train)
result.score(x_test, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [1000, 950]

# chose the right algorithm for our our algorithm

In [43]:
c
boston=load_boston()
boston;
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [44]:
boston_df=pd.DataFrame(boston["data"], columns=boston["feature_names"])
boston_df["target"]=pd.Series(boston["target"])
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [45]:
len(boston_df)

506

In [46]:
from sklearn.linear_model import Ridge

np.random.seed(42)

x=boston_df.drop("target", axis=1)
y=boston_df["target"]

x_train, x_test, y_test, y_test=train_test_split(x, y, test_size=0.2)

model=Ridge()
model.fit(x_train, y_train)
model.score(x_test, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [404, 200]