In [13]:
import pandas as pd
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### we will predict the "target" colum (last column) from the data of all other column

In [14]:
# x = complete table except target coluumn
x=heart_disease.drop("target", axis=1) # axis=1 for rows.....axis=0 for column
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [15]:
# y = "target" column
y= heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

### selecting the right model from the sklearn library

In [16]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier() # by default it make 100 trees
clf.get_params() # to see the methord contained by clf

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [17]:
# It split data x,y. Train it and test it
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2) # 0.2 out of 1.0 data is used for testing and 0.8 is used for training ml model

In [18]:
# hey classification model RandomForest find the pattern in the train data
clf.fit(x_train, y_train); # fit the train data in to RandomForest classifier

In [19]:
# now x has --> 303 rows Ã— 13 columns <----- 100%
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [20]:
# x_trian has --> 242 rows Ã— 13 columns <----- 80%
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
133,41,1,1,110,235,0,1,153,0,0.0,2,0,2
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3
221,55,1,0,140,217,0,1,111,1,5.6,0,0,3
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3

In [21]:
# x_test has ----> 61 rows Ã— 13 columns <----- 20%
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2
189,41,1,0,110,172,0,0,158,0,0.0,2,0,3
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
178,43,1,0,120,177,0,0,120,1,2.5,1,0,3
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2

#### similar in the case of y, y_train, y_test

In [22]:
# making preductions using inputs and reuired outputs
y_preds=clf.predict(x_test)
y_preds

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1], dtype=int64)

In [23]:
y_test

299    0
94     1
189    0
116    1
66     1
      ..
124    1
208    0
302    0
178    0
164    1
Name: target, Length: 61, dtype: int64

In [24]:
# checkin the accuraccy of prediction of our model (1.0 = 100%)
clf.score(x_train, y_train)

1.0

In [25]:
# test it's prediction on test data
clf.score(x_test, y_test)

0.819672131147541

so the model give his 100% in finding the pattern between input and required output, but on test data it found that it's 83.6%
results are correct based on it's predictions

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
# there are 3 ways we can check our reult beside .score methord

In [27]:
# compare the test and the prediction
print(classification_report(y_test, y_preds))  #----------> 1st methord

              precision    recall  f1-score   support

           0       0.88      0.73      0.80        30
           1       0.78      0.90      0.84        31

    accuracy                           0.82        61
   macro avg       0.83      0.82      0.82        61
weighted avg       0.83      0.82      0.82        61

In [28]:
print(confusion_matrix(y_test, y_preds))   #----------> 2nd methord

[[22  8]
 [ 3 28]]

In [29]:
print(accuracy_score(y_test, y_preds))  #----------> 3rd methord

0.819672131147541

# improving our accuracy

In [30]:
import numpy as np
np.random.seed(0)
for i in range (10, 100, 10):
    clf=RandomForestClassifier(i).fit(x_train, y_train) # clf store best logic made by random forest
    print(f"The accuracy with {i} numbers of trees is {clf.score(x_test, y_test)*100}")

The accuracy with 10 numbers of trees is 85.24590163934425
The accuracy with 20 numbers of trees is 85.24590163934425
The accuracy with 30 numbers of trees is 80.32786885245902
The accuracy with 40 numbers of trees is 88.52459016393442
The accuracy with 50 numbers of trees is 85.24590163934425
The accuracy with 60 numbers of trees is 83.60655737704919
The accuracy with 70 numbers of trees is 80.32786885245902
The accuracy with 80 numbers of trees is 90.1639344262295
The accuracy with 90 numbers of trees is 86.88524590163934

# save model

In [31]:
import pickle
pickle.dump(clf, open("random_forest_model.pkl", "wb"))